header.header {
  background-color: #2196F3;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header.header h1 {
  font-size: 1.5rem;
}
